.filter {
  display: flex;
  align-items: stretch;
  margin: .8rem 0;
}
.filter__input {
  width: 100%;
  height: 2rem;
  padding: 0 .8rem;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ddd;
}
.filter__btn {
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ddd;
}